.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal;

    animation: widthAnimate 3s ease-in 0s infinite normal;

}

@keyframes widthAnimate{
    from{
        width: 10px;
        background-color: green;
    }
    to{
        width: 400px;
        background-color: blue;
    }
}

@keyframes fontAnimation {
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px ;
    }
}

@keyframes colorAnimate {

    from{
        background-color: green;
    }
    to{
        background-color: blue ;
    }
    
}

h1, div{
    background-color: yellow;
    border: 2px solid black;
}

@media (width: 600px){
    h1{
        background-color: red;
        color: white;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: blue;
    }
}

@media(min-width: 400px){
    h1{
        background-color: greenyellow;
    }
}

@media(max-width: 200px){
    h1{
        background-color: pink;
    }
}